@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Fira+Sans:wght@100&family=Hind+Siliguri:wght@300&family=IBM+Plex+Sans:wght@500&display=swap");
* {
  margin: 0rem;
  border: 0rem;
  padding: 0rem; }

li {
  list-style: none; }

a {
  text-decoration: none; }
  
.navbar-brand {
  display: flex;
  align-items: center;
  position: relative;
  height: 2rem; }

.rounded-circle{
    display: flex;
    align-items: center;
    position: relative;
    height: 2rem;
    width: 7rem;
    height: 7rem;
    margin-top: 3rem;
    margin-right: 1rem;
    overflow-y: visible; }

header {
  display: flex;
  position: sticky;
  width: 100%; }

.content {
  padding: 1rem; }

.feelin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem 1rem 0rem; }

.form {
  display: flex;
  justify-content: center;
  align-items: center; }

button {
  border: solid;
  border-radius: 0.25rem;
  border-color: #FF7800;
  background-color: #FFBC97; }

.antojos {
  font-weight: bold; }

.alfajorcitos {
  color: #FFE300; }

.alfajorcitosRogel {
  color: #FF7800; }

.cookies {
  color: #52dc1b; }

article {
  display: flex;
  flex-direction: column;
  position: inherit; }

footer {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: inherit;
  height: 5rem;
  font-size: 70%;
  line-height: 1.5rem;
  padding-bottom: 1rem; }

  .carrito{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 4rem;
  }

  .carrito button{
    display: flex;
    margin: .5rem;
    background: transparent;
    border-radius: 6px;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.carrito button:hover{
    background-color:#FF7800;
    color: white;
}

.preguntas{
padding: 4rem;
}

.respuesta{
  padding: 1rem;
  margin: 0rem 1rem 2rem 1rem;
  }

  .fotoProductos{
    height: 10rem;
    border:solid;
    margin: 1rem;
  }