@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Fira+Sans:wght@100&family=Hind+Siliguri:wght@300&family=IBM+Plex+Sans:wght@500&display=swap');
* {
    margin:0rem;
    overflow: visible;
    font-family: 'Dosis', sans-serif;
}

:root
{
    --color-amarillofeelin: #FFE300; 
    --color-naranjafeelin: #FF7800;
    --color-salmonfeelin: #FFBC97;
    --color-blancofeelin:#F7F7F7;
}
 
.body
{
    border: 1rem;
}

.header
{
    background-color: var(--color-amarillofeelin);
    position: relative;
    position: sticky;
    top: 0rem;
}


.logo
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.logo
{
    display: grid;
    grid-column: 2/3;
}

.logo a
{
    padding:1rem;
    display: grid;
    grid-column: 2/3;
    justify-items: center;

}

.logo a img
{
    display: flex;
    width: 7rem;
}

.logo p
{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bolder;
    display: grid;
    grid-column: 2/3;
    justify-content: center;
}

.iconos
{
    display: grid;
    grid-column: 3/3;
    display: inline-block;
}

.iconos img
{
    padding-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

a{

    text-decoration: none;
}


nav
{
    display: grid;
    justify-content: center;
}

nav ul
{
    display: grid;
    justify-content: center;
}

nav ul
{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 2rem;
    position: relative;
}

nav ul li
{
    padding: 0rem 4rem 0rem 0rem;
}


.contenido
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--color-blancofeelin);
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.contenido h1
{
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
}

.main
{
    display: flex;
    padding: 1rem;
}

.main h1
{
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
}

.videoSection
{
   display: flex;
   justify-self: center;
}

.videoSection video
{
    display: flex;
    width: 15rem;
    height: 30rem;
}
.footer
{
    display: flex;
    position:relative;
    background-color: var(--color-naranjafeelin);
    padding: 0rem 1rem 0.5rem 1rem;
    flex-direction: column;
    align-items: flex-end;
}

.footer p 
{
    padding-top: 1rem;
}

.preguntasFrecuentes
{
    align-self: flex-start;
    text-decoration: none;
}

.footer div
{
    display: flex;
    flex-direction: row;
    display: inline-block;
}

.pages
{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
}

.pagesN
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 10rem 1rem 10rem;
    font-size: 170%;
    text-align: justify;
}

#Nosotros
{
    width: 15rem;
    padding-left: 2rem;
}

.pages h1
{
    display: flex;
    padding: 1rem 0rem 1rem 0rem;
}
.contactanos
{
    display: flex;
    align-self: center;
}

.contacto 
{
    display: flex;
    flex-direction: inherit;
    align-self: center;
    width: 20rem;
    border-style: solid;
    border-color: var(--color-salmonfeelin);
    background-color: var(--color-salmonfeelin);
}

.listaProductos
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    grid-gap: 1rem;
    justify-items: center;
}

.listaProductos li 
{
    display: grid;
    justify-items: center;
    display: grid;
    grid-template-rows: auto;
    font-weight: bold;
    font-size: 110%;
}
.listaProductos p
{
    display: flex;
    padding-bottom: 1rem;
    font-size: 70%;
}

.listaProductos img
{
    display: flex;
    margin: 1rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 874px) 
{
    .logo a img
    {
        display: flex;
        width: 4rem;

    }

    .logo p
    {
        font-size: 1.5rem;
    }

    .iconos img
    {
        padding-left: 1rem;
        width: 1rem;
        height: 1rem;
    }

    nav ul li
    {
        padding: 0rem 2rem 0rem 0rem;
    }
    .listaProductos
    {
        display: inline-block;
    }
}

.compra
{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

li
{
    list-style: none;
}

#botonesCompra
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100px;
}